.all-Elements__Wrapper {
    display: flex;
    justify-content: center;
}
.ngThree__Wrapper {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 33.333%;
    height: 50dvh;
}

// app-animated-ng-three {
//     height: 100dvh;
//     width: 100%;
// }