<header class="header01">
  <div class="headWrapper">
    @if (responsive.isMobile() == false) {
      <div style="width: 100%; height: 100px;">
        <nav class="nav01">
          <div style="width: 100%; height: 100px;">
            <div style="width: 100%; display: flex;">
            <div
              style="
                width: 6rem;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="width: 6rem; height: 100px; display: flex; align-items: center; justify-content: center;">
                <a
                  href="/ProPortfolio/#/home"
                  [class.active]="isHomeClicked"
                  [class.visited]="isHomeVisited"
                  [ngClass]="{ homeLink: isHomeHovered }"
                  (mouseenter)="isHomeHovered = true"
                  (mouseleave)="isHomeHovered = false"
                >
                  {{ homeLinkText() }}
                </a>
              </div>
              <div style="width: 1.75rem; display: flex; justify-content: left; font-size: 0.75rem;">
                <div style="width: 0.25rem">&#8255;</div>
              </div>
            </div>
            <div
              style="
                width: 7.5rem;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="width: 7.5rem; height: 100px; display: flex; align-items: center;">
                <a
                  href="/ProPortfolio/#/aboutme"
                  [class.active]="isAboutMeClicked"
                  [class.visited]="isAboutMeVisited"
                  [ngClass]="{ aboutMeLink: isAboutMeHovered }"
                  (mouseenter)="isAboutMeHovered = true"
                  (mouseleave)="isAboutMeHovered = false"
                >
                  {{ aboutLinkText() }}
                </a>
              </div>
              <div style="width: 1.75rem; display: flex; justify-content: left; font-size: 0.75rem;">
                <div style="width: 0.25rem">&#8255;</div>
              </div>
            </div>
            <div
              style="
                width: 6rem;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="width: 6rem; height: 100px; display: flex; align-items: center">
                <a
                  href="/ProPortfolio/#/socials"
                  [class.active]="isSocialsClicked"
                  [class.visited]="isSocialsVisited"
                  [ngClass]="{ socialsLink: isSocialsHovered }"
                  (mouseenter)="isSocialsHovered = true"
                  (mouseleave)="isSocialsHovered = false"
                >
                  {{ socialsLinkText() }}
                </a>
              </div>
              <div style="width: 1.75rem; display: flex; justify-content: left; font-size: 0.75rem;">
                <div style="width: 0.25rem">&#8255;</div>
              </div>
            </div>
            </div>
          </div>
        </nav>
      </div>
    } @else {
      <a style="display: none"></a>
    }
    <span>
      @if (responsive.isMobile() == true) {
        <button
          class="menu"
          onclick="
            this.classList.toggle('opened');
            this.setAttribute('aria-expanded', this.classList.contains('opened'));
          "
          (click)="childRef.toggleMenuDrawer()"
          aria-label="Main Menu"
        >
          <svg width="100" height="100" viewBox="0 0 100 100">
            <path
              class="line line1"
              d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
            />
            <path class="line line2" d="M 20,50 H 80" />
            <path
              class="line line3"
              d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
            />
          </svg>
        </button>
      } @else {
        <button style="display: none"></button>
      }
    </span>
  </div>
  <div class="border--Only">
    <hr />
  </div>
</header>
<app-menu-drawer #childRef></app-menu-drawer>
